name: Build Status Swift

permissions:
  contents: read
  actions: read

# Workflow triggers
on: 
  workflow_dispatch:

  push:
    branches:
      - main

  pull_request:
    branches:
      - main

# Jobs to be executed
jobs:
  build:
    runs-on: windows-latest

    env:
      ProjectName: StatusSwift.csproj
      DotNetVersion: 10.0.x
      TargetFramework: net10.0-windows10.0.19041
      RuntimeIdentifier: win-x64
      NUGET_PACKAGES: ${{ github.workspace }}\.nuget\packages

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install .NET SDK ${{env.DotNetVersion}}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '${{env.DotNetVersion}}'
        cache: true
        cache-dependency-path: |
          StatusSwift/StatusSwift.csproj

    - name: Install MAUI workload
      run: dotnet workload install maui-desktop wasm-tools

    - name: .NET - Restore
      working-directory: './StatusSwift'
      run: dotnet restore ${{env.ProjectName}} -r ${{env.RuntimeIdentifier}} -p:PublishReadyToRun=true

    - name: .NET - Publish
      working-directory: './StatusSwift'
      run: dotnet publish ${{env.ProjectName}} -c Release -f ${{env.TargetFramework}} -r ${{env.RuntimeIdentifier}} -p:PublishReadyToRun=true --no-restore

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        path: .\**\*.msix
